<%= form_for @profile do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        this profile from being saved:
      </h4>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
    <p>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </p>
  
    <p>
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </p>
  
      <p>
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
