<h1>Employee Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @profile.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @profile.end_date %>
</p>

<h2>Holidays</h2>
<%= render @profile.holidays %>

<p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</p>