<div id="profile-wrap">
<h2>Employee Profile</h2>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @profile.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @profile.end_date %>
</p>
<p>
<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-sm btn-default" %> |
<%= link_to 'Back', profiles_path, class: "btn btn-sm btn-default" %>
</p>
</div>