
<%= form_for :holiday, url: holidays_path do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :number_of_days %><br>
    <%= f.text_field :number_of_days %>
  </div>
  <br>
  <div class="field">
    <%= f.submit %>
</div>
<% end %>