    <head>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    </head>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HR Solutions</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "Profile", profiles_path %></li>
        <li><%= link_to "Annual Leave", holidays_path %></li>
	<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="jobs_path">Careers<span class="caret"></span></a>
          <ul class="dropdown-menu">                       
        <% Category.all.each do |category| %>
        <li><%= link_to category.name, jobs_path(category: category.name) %></li>
        <% end %>
          </ul>
        </li>
        <%= render 'devise/menu/registration_items' %>
         <%= render 'devise/menu/login_items' %>
          </ul>
  </nav>
          </form>
        </div>
      </div>
    </nav>
    