<!DOCTYPE html>
<html>
  <head>
  <title>HrPage</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/navbar' %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
 <h6 class="footertext">&copy; HR Solutions &trade; 2015</h6>
</html>
